{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('styles/moviesDetailPage.css') }}" type="text/css" rel="stylesheet"/>
{% endblock %}

{% block body %}

<div class="c-detail" style="background-image: url('https://www.themoviedb.org/t/p/w1920_and_h800_multi_faces{{ movie.backdrop_path }}'); background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: rgba(128, 128, 128, 0.5);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;">

    <div class="row c-detail__box">
        <div>
        <img class="c-home__img" src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2{{ movie.poster_path }}" alt="{{ movie.title }}"/>
        <p>{{movie.title}}</p>
        </div>
    </div>    
</div>
{% endblock %}