@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100;200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-size: 2rem;
    background-color: #111111;
    color: white;
}

img {
    max-width: 100%;
    border-radius: 2rem;
}

a {
    text-decoration: none;
    color: #0074D9;
}

a:visited {
    color: #B10DC9;
}